<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      <p href="/">Nathan</p>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-text" href="/portfolio/view">My Portfolio</a>
      </li>
      <li class="nav-item">
        <i class="fab fa-github"></i>
        <a class="nav-text" href="https://github.com/pearepeater30" target="_blank">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-text" href="#">Other Hobbies</a>
      </li>
    </ul>
  </div>
</div>
