.profile-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
  padding: 25px 25px 25px 25px;
  background-color: #00BCE3;
  margin: 1em;
}

.profile-card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.container {
  padding-top: 100px;
}

.img-class{
  width: 240px;
  float: left;
  display: flex;
  padding-right:10px
}

.description{
  font-family:'Courier New', Courier, monospace;
}

.profile-title{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.social-media-container{
  margin: 1em;
  list-style: none;
  margin: 1em;
  font-size: 50px;
}


.social-media-container li{
  display:inline-block;
  margin: 0.15em;
}

i{
  color: #FF3EB5;
}



