*::before{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

i{
  color:#9595D2;
  margin-right: 4px;
  position: relative;
  bottom: 2px;
}

.nav{
  font-family: 'Roboto', sans-serif;
  background-color: #6244BB;
}

.nav-text{
  color: #FF3EB5;
  font-size: 20px;
}

.nav-title{
  padding-top: 5px;
  font-size: 50px;
  color: #00BCE3;
}

.nav-list{
  list-style: none;
  padding-right: 20px;
  padding-top: 32px;
  float: left;
  text-align: center;
}

.nav-item{
  display: inline-block;
  padding-right: 25px;
}


