*::before{
  margin:0;
  padding: 0;
  box-sizing: inherit;
}

i{
  color:#9595D2;
  margin-right: 4px;
  position: relative;
  bottom: 2px;
}

.nav{
  font-family: 'Roboto', sans-serif;
  background-color: #6244BB;
}

.nav-text{
  color: #FF3EB5;
  font-size: 20px;
}

.nav-title{
  font-size: 50px;
}

.nav-list{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  padding-top: 30px;
  float: left;
}

.nav-item{
  display: inline;
  padding: 50px 10px 50px 10px;
}

